<div class="row">
	<div class="col-xs-3">
        <%= render 'layouts/searchform' %>
	</div>

	<div class="col-xs-9">
		<h3>投稿一覧</h3>
            <div class="post-list">

                <% @tags.posts.each do |post| %>
                    <%= link_to post_path(post),class: "post-list-items" do %>
                        <%= render 'posts/post_index', post: post %>
                    <% end %>
                <% end %>

            </div>

	</div>
</div>