<div class="row">
    <div class="md-x-3">
        <%= render 'layouts/searchform' %>
    </div>

    <div class="col-md-9">
        <h3>ユーザー投稿</h3>
            <div class="post-list">
                <% @posts.each do |post| %>
                    <%= link_to post_path(post),class: "post-list-items" do %>
                        <%= render 'posts/post_index', post: post %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="col-md-offset-6 col-xs-6"><%= paginate @posts %></div>
    </div>
</div>


