<div class="row">
	<div class="col-xs-3">
        <%= render 'layouts/searchform' %>
	</div>

	<div class="col-xs-9">
		<div class="#">
			<h2>投稿一覧</h2>
            <div class="post-list clearfix">
                <% @posts.each do |post| %>
                    <%= link_to post_path(post.id) do %>
                        <%= render 'post_index', post: post %>
                    <% end %>
                <% end %>
            </div>
		</div>

	</div>
</div>
