<div class="about-wrapper">
	<div class="container">
		<div class="about-menu ">
        	<h1>What's nyanstagram?</h1>
        	<div class="about-image col-xs-2">
				    <%= image_tag 'yokogao2.jpg',class: "about-items" %>
			    </div>

			<div class="about-content col-xs-7 col-xs-offset-2">
        		<p>nyanstagramは猫好きのための写真投稿サイトです。</p>
				<p>自慢のウチの子や可愛く撮れた猫の写真が簡単に投稿できます。</p>
				<p>写真にはコメントができるので、感想を伝えたりいいねもOK。</p>
          <p>フォローし合うことで、DMでのメッセージ交換もできるので猫友作り</p>
          <p>にも最適です。</p>
			</div>
		</div>
    </div>
</div>

<div class="welcome-wrapper">
	<div class="container">
        <%= image_tag 'top.jpg',class: "welcome-items" %>
        <h1>猫の魅力をシェアしあおう</h1>
        <div class="welcome-btn-wrapper">
        	<%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success", data: {turbolinks: false } %>
        </div>
    </div>
</div>