<div class="top-wrapper">
	<div class="top-container">
    <h1>Cats are irresistible!</h1>
      <div class="top-message">
        <h3>The smallest feline is a masterpiece.</h3>
		    <h4>- Leonardo da Vinci</h4>
		    <p>猫科の一番小さな動物、つまり猫は、最高傑作である。</p>
		    <p class="quote">- レオナルド・ダ・ヴィンチ</p><br>
        <div class="btn-wrapper">
          <a href="/users/sign_in" class="btn btn-top signup">
			     <span class="fas fa-paw"></span>
          ログインする</a>
          <p>or</p>
          <%= link_to user_twitter_omniauth_authorize_path do %>
          <div class="btn btn-top twitter">
          <i class="fab fa-twitter">Twitterログイン</i>
        </div>
          <% end %>
        </div>
      </div>
    </div>
</div>


<div class="about-wrapper">
	<div class="container">
		<div class="about-menu ">
        	<h1>What's nyanstagram?</h1>
        	<div class="about-image col-md-2">
				    <%= image_tag 'yokogao2.jpg',class: "about-items" %>
			    </div>

			<div class="col-md-7 col-md-offset-2">
        <div class="about-content">
          <p>nyanstagramは猫好きのための写真投稿サイトです。</p>
				  <p>自慢の愛猫や可愛く撮れた猫の写真が簡単に投稿できます。</p>
				  <p>写真にはコメントができるので、感想を伝えたりいいねもOK。</p>
          <p>フォローし合うことで、DMでのメッセージ交換もできるので、猫友作りにも最適です。</p>
        </div>
			</div>
		</div>
    </div>
</div>


<div class="welcome-wrapper">
	<div class="container">
        <%= image_tag 'top.jpg',class: "welcome-items" %>
        <h1>猫の魅力をシェアしあおう</h1>
        <div class="welcome-btn-wrapper">
        	<%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success", data: {turbolinks: false } %>
        </div>
    </div>
</div>