<div class="top-wrapper">
	<div class="container">
        <h1>Welcome to Cat's world</h1>
        <h1>We love Cats</h1>
        <p>Welcome to Cat's world!!</p>
		<p>Welcome to Cat's world!!</p>
        <div class="btn-wrapper">
          <a href="#" class="btn btn-top signup">ログインする</a>
          <p>or sign up with</p>
          <a href="#" class="btn btn-top facebook">
          	<span class="fab fa-facebook"></span>
            Facebookログイン</a>
          <a href="#" class="btn btn-top twitter">
			<span class="fab fa-twitter"></span>
          Twitterログイン</a>
        </div>
    </div>
</div>


<div class="lesson-wrapper">
	<div class="container">
        <h1>nyanstagram?</h1>

        <p>Welcome to Cat's world!!</p>
		<p>Welcome to Cat's world!!</p>

    </div>
</div>


<div class="message-wrapper">
	<div class="container">
        <h1>Welcome to Cat's world</h1>
        <h1>Let's join</h1>
        <p>Welcome to Cat's world!!</p>
		<p>Welcome to Cat's world!!</p>
        <div class="btn-wrapper">
        	<%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-top signup", data: {turbolinks: false } %>
        </div>
    </div>
</div>