<div class="row">
    <div class="col-xs-3">
        <%= render 'layouts/searchform' %>
    </div>

    <div class="col-xs-9">
        <h3>フォローユーザー投稿</h3>
            <div class="post-list">

              <% @users.each do |user| %>
              <% @posts = Post.where(user_id: user.id).limit(1).order("created_at DESC") %>
                <% @posts.each do |post| %>
                        <%= link_to post_path(post.id), class: "post-list-items" do %>
                        <%= render 'post_index', post: post, user: user %>
                        <% end %>
                <% end %>
              <% end %>
            </div>
        <div class="col-xs-offset-6 col-xs-6"><%= paginate(@users) %></div>
    </div>
</div>