<div class="row">
	<div class="col-md-3">
        <%= render 'layouts/searchform' %>
	</div>

	<div class="col-md-9">
		<h3>投稿一覧</h3>
            <div class="post-list">

                <% @posts.each do |post| %>
                    <%= link_to post_path(post),class: "post-list-items" do %>
                        <%= render 'post_index', post: post %>
                    <% end %>
                <% end %>

            </div>
		<div class="col-xs-offset-6 col-xs-6"><%= paginate @posts %></div>
	</div>
</div>

