<div class="row">
    <div class="col-md-3">
        <%= render 'layouts/searchform' %>
    </div>

    <div class="col-md-9">
        <h3>お気に入り</h3>
            <div class="post-list">
                <% @likes.each do |like| %>
  					<% post = Post.find_by(id: like.post_id) %>
  					<% user = User.find_by(id: post.user_id) %>
                        <%= link_to post_path(post.id), class: "post-list-items" do %>
                        <%= render 'post_index', post: post, user: user %>
                    <% end %>
                <% end %>
            </div>
		</div>
	  <div class="col-md-offset-6 col-md-6"><%= paginate(@likes) %></div>
    </div>
</div>