/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


main {
  margin :50px;
}

header {
  background-color: #EEEEEE;
  border-bottom: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #EEEEEE;
  border-top: 1px solid black;
}

footer p {
	text-align: center;
  margin-top: 10px;
}


/*サイドメニュー設定*/
.sidemenu {
  margin-top: 100px;
}

.sidemenu h3{
  margin:0 0 7px 0;
  padding:5px 0 5px 5px;
  background: #CCCCCC;
  border-left:7px solid #A9A9A9;
  font-size:16px;
  line-height:1.3em;
}

/*メニュー項目のブロック全体*/
.sidemenu ul{
  margin:0; /*ulタグの領域の外側の余白を0にリセット*/
  padding:0;  /*ulタグの領域の内側の余白を0にリセット*/
  list-style:none;  /*メニュー項目先頭の黒丸を消去*/
}

.sidemenu li a{
  background:url("cat_foot.png") no-repeat 0 6px;
  padding:3px 0 3px 18px;
  border-bottom:0px solid #f7b1a6;
  font-size:14px;
  line-height:1.3em;
  display:block;
  text-decoration:none;
  color:#333333;
}

.sidemenu li a:hover{
  color:#666666;
  background:url("cat_foot.png") no-repeat 0 6px #DDDDDD;
}

a {
  text-decoration: none;
  color:#333333;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-box {
  border: solid 1px;
  margin: 10px;
}
