// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-form {
	margin-top: 20px;
}

@media screen and (max-width:425px) {
.contact-form {
  margin-top: 60px;
  padding-top: 20px;
}
}