// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-wrapper {
 background-image: image-url("top22.png");
 background-size: cover;
 color: gray;
}

.top-container {
  padding-top: 120px;
  padding-bottom: 250px;
  padding-left: 200px;
}

.top-message {
  padding-left: 20px;
}

.top-message h4 {
  padding-left: 200px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 48px;
}

.top-wrapper p {
  opacity: 0.7;
}

.quote {
  font-size: 13px;
  padding-left: 200px;
}

.btn-wrapper {
  margin-top:20px;
  margin-left: 100px;
}

.btn-wrapper p {
  padding-left: 50px;
}

.btn-top {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn-top:hover {
  opacity: 1;
}

.signup {
  background-color: gray;
}

.twitter {
  background-color: #55acee;
}

.about-wrapper {
 padding-bottom: 180px;
 background-color: #dcdcdc;
 color: gray;
}

.about-wrapper h1 {
  font-size: 34px;
  font-family: "fantasy";
}

.about-wrapper p {
  font-size: 16px;
}

.welcome-wrapper {
 padding-top: 50px;
 padding-bottom: 150px;
 background-color: #cccccc;
 color: gray;
 text-align: center;
}

.welcome-wrapper h1 {
  font-size: 36px;
}

.welcome-btn-wrapper {
  margin: 30px;
}

.welcome-items {
  width: 450px;
  height: 300px;
  border-radius: 10%;

}
.message-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;

}

.message-wrapper p {
  opacity: 0.7;
}

.about-menu {
  margin-top: 50px;
}

.about-items {
	width:220px;
	height:300px;
	margin-top: 30px;
  margin-left: 50px;
  border: solid 1px #cccccc;
  border-radius: 30px;
}

.about-content {
	margin-top: 70px;
}

.nav-menu {
  margin: 0 30px;
}