// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  display: flex;
  flex-wrap: wrap;
	.post-list-items {
		text-decoration: none;
	}
}

.post-box {
  margin: 20px 10px;
}

.post-icon {
  margin: 2px;
}

.post-images {
  border: solid 1px #dddddd;
  border-radius: 30px;
}

.post-show-image {
  border: solid 1px #dddddd;
  border-radius: 30px;
}

.box10 {
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #eeeeee;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    height: 150px;
}
.box10 p {
    margin: 0;
    padding: 0;
}

.post-info p {
  margin-left: 15px;
}

.post-likes {
  margin-top:10px;
}

.post-tag p {
  display: block;
  margin: 20px;
}