// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list {
  display: flex;
  flex-wrap: wrap;
	.post-list-items {
		text-decoration: none;
	}
}

.post-box {
  margin: 20px 10px;
}

.post-icon {
  margin: 2px;
}

.post-profile-image {
  width: 60px;
  height: 60px;
}

.post-images {
  border: solid 1px #dddddd;
  border-radius: 30px;
  width: 240px;
  height: 180px;
}

.post-show-image {
  border: solid 1px #dddddd;
  border-radius: 30px;
  width: 400px;
  height: 300px;
}

.box10 {
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #eeeeee;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    height: 150px;
}

.box10 p {
    margin: 0;
    padding: 0;
}

.post-info p {
  margin-left: 15px;
}

.post-likes {
  margin-top:10px;
}

.post-tag p {
  display: block;
  margin: 20px;
}

.post-tag-input {
  width: 300px;
  height: 30px;
}

.newpost-wrapper {
  margin-top:50px
}

.img_thumbnail {
  width: 400px;
  height: 300px;
  border: solid 1px #dddddd;
  border-radius: 30px;
}

.image_prev {
  width: 400px;
  height: 300px;
  border: solid 1px #dddddd;
  border-radius: 30px;
}

.tag-message {
  margin-left: 10px;
  color: gray;
}

.post-show-wrapper {
  margin-top: 50px;
}

.post-content {
  width: 400px;
  height: 200px;
}

@media screen and (max-width:425px) {
.post-show-wrapper {
  margin-top: 50px;
  h3 {
  font-size: 18px;
  margin: 10px 0 0 40px;
  }
  p {
  margin: 0;
  }
}

.post-show-image {
  margin-top: 30px;
  border: solid 1px #dddddd;
  border-radius: 30px;
  width: 320px;
  height: 240px;
}

.post-list {
  margin: 10px 30px 50px 20px;
}

.post-images {
  border: solid 1px #dddddd;
  border-radius: 30px;
  width: 300px;
  height: 200px;
}

.post-tag p {
  display: block;
  margin: 0 10px;
  float: left;
}

.box10 {
    padding: 0.5em 1em;
    margin: 30px 0;
    background: #eeeeee;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    height: 130px;
}

.post-profile-image {
  width: 40px;
  height: 40px;
}

.comment_25 {
  margin-bottom: 80px;
}

.post-content {
  width: 300px;
  height: 200px;
}

.post-submit {
  margin-bottom: 80px;
}
}