// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.directmessage-wrapper {
  margin-top: 30px;
  padding: 20px;
  background: #eeeeee;

}

.chat-box {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #ffffff;
    border-bottom: solid 6px #dddddd;
    border-radius: 9px;
}
