// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-menu-left {
  width: 18%;
}

.profile-show-image {
  margin-top: 15px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

.show-follow {
  margin-top: 10px;
}

.userpost-image {
  border: solid 1px #dddddd;
  border-radius: 20px;
  margin: 5px;
}

.box6 {
 margin-top: 30px;
 margin-left: 30px;
 padding: 1em;
 width: 70%;
}

.dm-envelope {
 margin-left: 30px;
}

@media screen and (max-width:425px) {
.user-show-wrapper {
  margin: 60px 0;
  h3 {
  font-size: 18px;
  }
}

.profile-show-image {
  margin: 0px;
  padding: 0px;
  width: 60px;
  height: 60px;
}

.box6 {
 margin: 10px 0 0 10px;
 padding: 1em;
 width: 100%;
}

.info-menu-left {
  width: 20%;
}

.dm-envelope {
 margin-left: 10px;
}

}
