// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-menu p {
	display: inline-block;
}

.profile-show-image {
  margin-top: 15px;
}

.show-follow {
  margin-top: 10px;
}

.userpost-image {
  border: solid 1px #dddddd;
  border-radius: 20px;
}

.box6 {
 padding: 1em;
 width: 90%;
 color: #666666;
 background-color: #f7f7f7;
 border: 1px solid #ccc;
 border-radius: 8px;
}
